.content h1{
    margin:32px 0;
    font-size:15px;
    font-family:Iscolapotha;
    font-weight:normal;
    color:rgb(10, 6, 6);
    text-transform:none;
    text-shadow:none;
    text-align:left;
    font-style: Bold;

}